.popconfirmContent {
  position: absolute;
  width: 240px;
  padding: 12px 16px;
  top: 76px;
  right: 200px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px #00000026;
  box-sizing: border-box;
  z-index: 20;
}

.iconWithText {
  display: flex;
  align-items: flex-start;
}

.exclamationCircle {
  margin-top: 3px;
  margin-right: 8px;
}

.popconfirmMessage {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 12px;
}

.popconfirmActions {
  text-align: right;
}

.popconfirmConfirm,
.popconfirmCancel {
  font-family: Roboto;
  width: 34px;
  height: 24px;
  padding: 1px 8px;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popconfirmConfirm {
  width: 39px;
  margin-left: 8px;
}

.active {
  background-color: #1890FF;
  border: 1px solid #1890FF;
  color: #FFF;
}

.popconfirmConfirm:active,
.popconfirmCancel:active {
  opacity: 0.8;
  transform: scale(0.97);
}

.popconfirmContent:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
  z-index: 1;
}

@media (max-width: 480px) {
  .popconfirmContent {
    top: 50px;
    right: 100px;
  }
}

@media (max-width: 375px) {
  .popconfirmContent {
    right: 64px;
  }
}

@media (max-width: 320px) {
  .popconfirmContent {
    right: 40px;
  }
}