.profileEdit {
  font-family: Roboto;
  width: 384px;
  box-sizing: border-box;
  padding: 48px 32px 48px 32px;
  border-radius: 6px;
  background: #FFFFFF;
  margin: 59px auto 0;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0.6087964177131653px 2.9332919120788574px 0px #00000005,
              0px 1.4630224704742432px 7.049108028411865px 0px #00000007,
              0px 2.7547414302825928px 13.272845268249512px 0px #00000009,
              0px 4.91398811340332px 23.67648696899414px 0px #0000000B,
              0px 9.19107437133789px 44.28426742553711px 0px #0000000D,
              0px 22px 106px 0px #00000012;
}

.header {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
  margin-bottom: 21px;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #007bff;
  margin-top: 9px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.99);
}

@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .profileEdit {
    width: 100%;
  }
}