.articleForm {
  font-family: Roboto;
  width: 938px;
  box-sizing: border-box;
  padding: 48px 32px;
  margin: 34px auto 0;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  background: #fff;
  box-shadow: 
    0px 0.6087964177131653px 2.9332919120788574px 0px #00000005,
    0px 1.4630224704742432px 7.049108028411865px 0px #00000007,
    0px 2.7547414302825928px 13.272845268249512px 0px #00000009,
    0px 4.91398811340332px 23.67648696899414px 0px #0000000B,
    0px 9.19107437133789px 44.28426742553711px 0px #0000000D,
    0px 22px 106px 0px #00000012;
}

.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #262626;
  margin-bottom: 21px;
}

.formGroup {
  margin-bottom: 21px;
}

.formGroupInput {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: #000000BF;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 2px;
}

.formGroupTextarea::placeholder {
  color: #BFBFBF;
}

.formGroupTextarea:focus {
  outline-color: black;
}

.formGroupTextarea {
  font-family: Roboto;
  width: 100%;
  height: 168px;
  font-size: 16px;
  line-height: 24px;
  color: #000000BF;
  margin-top: 2px;
  padding: 7px 12px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.tag,
.formAddTags {
  height: 40px;
  margin-top: 5px;
}

.tagInput {
  width: 300px;
  margin: 0;
}

.tagDelete {
  width: 120px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 17px;
  background-color: #fff;
  border: 1px solid #ff4d4f;
  color: #ff4d4f;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.tagDelete:hover {
  box-shadow: 0px 1px 2px #ff4d4f;
}

.tagDelete:active {
  background: #ff4d4f;
  color: #FFFFFF;
  transform: scale(0.97);
}

.tagAdd {
  font-family: Roboto;
  width: 136px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 17px;
  color: #1890FF;
  background-color: #fff;
  border: 1px solid #1890FF;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.tagAdd:hover {
  box-shadow: 0px 1px 2px #1890FF;
}

.tagAdd:active {
  background: #1890FF;
  color: #FFFFFF;
  transform: scale(0.97);
}

.submitBtn {
  font-family: Roboto;
  width: 319px;
  height: 40px;
  font-size: 16px;
  background: #1890FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  opacity: 0.9;
}

.submitBtn:active {
  opacity: 0.8;
  transform: scale(0.99);
}

.textareaError {
  border: 1px solid #F5222D;
  margin-bottom: 2px;
}

.textareaError:focus {
  outline-color: #F5222D;
}

.errorMessage {
  display: block;
  color: #F5222D;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .articleForm {
    width: calc(100% - 16px);
    margin: 20px 8px 0;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }

  .formAddTags {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .tagInput {
    width: 100%;
  }

  .tagDelete, .tagAdd {
    margin-left: 0;
  }

  .submitBtn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .articleForm {
    width: 100%;
  }

  .formAddTags {
    justify-content: space-between;
  }
}

@media (max-width: 320px) {
  .tagAdd,
  .tagDelete {
    width: 110px;
  }
}