.signinForm {
  font-family: Roboto;
  width: 384px;
  margin: 59px auto 0;
  background: #fff;
  padding: 48px 32px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 
  0px 0.6087964177131653px 2.9332919120788574px 0px #00000005,
  0px 1.4630224704742432px 7.049108028411865px 0px #00000007,
  0px 2.7547414302825928px 13.272845268249512px 0px #00000009,
  0px 4.91398811340332px 23.67648696899414px 0px #0000000B,
  0px 9.19107437133789px 44.28426742553711px 0px #0000000D,
  0px 22px 106px 0px #00000012;
}

.header {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 21px;
}

.btn {
  font-family: Roboto;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  background: #1890FF;
  border: none;
  margin-top: 9px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.99);
}

.signUpText {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
  color: #8C8C8C;
}

.signUpLink {
  text-decoration: none;
  color: #1890FF;
}

.signUpLink:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.signUpLink:active {
  transform: scale(0.97);
  opacity: 0.8;
}

@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .signinForm {
    width: 100%;
  }
}