.registrationForm {
  font-family: Roboto;
  width: 384px;
  margin: 59px auto 0;
  padding: 48px 32px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 
  0px 0.6087964177131653px 2.9332919120788574px 0px #00000005,
  0px 1.4630224704742432px 7.049108028411865px 0px #00000007,
  0px 2.7547414302825928px 13.272845268249512px 0px #00000009,
  0px 4.91398811340332px 23.67648696899414px 0px #0000000B,
  0px 9.19107437133789px 44.28426742553711px 0px #0000000D,
  0px 22px 106px 0px #00000012;
}

.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 21px;
  color: #262626;

}

.formCheck {
  padding-top: 8px;
  margin-top: 25px;
  margin-bottom: 21px;
  border-top: 1px solid #E8E8E8
}

.checkbox {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: 1px;
  margin-right: 10px;
}

.formItem .error {
  color: #d9534f;
  margin-top: 5px;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.99);
}

.wrapCheckbox {
  display: flex;
}

.checkboxLabel {
  display: flex;
}

.signinRedirect {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
}

.link {
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
  opacity: 0.9;
}

.link:active {
  transform: scale(0.97);
  opacity: 0.8;
}

.noCheckboxText {
  font-size: 12px;
  margin-left: 23px;
}

.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #cccccc;
  opacity: 1;
}

.disabled:active {
  transform: scale(1);
}

@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .registrationForm {
    width: 100%;
  }
}