.message {
  margin: 0 auto;
  width: 700px;
  margin-top: 50px;
  font-size: 30px;
}

.messageText {
  text-align: center;
}

.btn__back {
  margin: 0 auto;
  height: 50px;
  width: 150px;
  display: block;
  background: #1890FF;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.btn__back:hover {
  opacity: 0.9;
}

.btn__back:active {
  opacity: 0.8;
  transform: scale(0.99);
}

a {
  text-decoration: none;
}